.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    padding: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.container .bg-image img{
    border-radius: 8px;
    height: 180px;
}
.container .duration{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.container .progress-bar{
    width: 100%;
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 5px;
    position: relative;
}
.progress-bar .progress{
    position: absolute;
    background-color: #ff5722;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.music-buttons{
    display: flex;
    justify-self: center;
    gap: 40px;
}
.music-buttons .b{
    width: 25px;
    height: 25px;
}
.musicplay{
    background-color: transparent;
    outline: 0;
    border: 0;
}